.home-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // text-align: center;
    .welcome{
        margin-block-end: 1.5em;
        margin-block-start: 3.5em;

        h1{
            font-weight: 700;
            font-size: em(24px,16px);
            margin-block-end: 16px;
        }
        span{
            opacity: 1;
            cursor: pointer;
            margin-inline-start: 16px;
            transform: translate(6px,-3px);
        }
        &:hover{
            span{
                opacity: 1;
            }
        }
    }
    p{
        // color: $reactClr;
    }
    h4{
        margin-block-start: 16px;
        font-size: em(18px,16px);
        font-weight: 600;
    }
    .user-data{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 1fr;
        p{
            // margin-block-end: 1em;
        }
    }
}