// Colors
$reactClr:#61DBFB;
$bgClr:#111111;
$bgClrSecondery:rgba(51,51,51,0.8);
$hoverClr:#312f32;
$txtClr:#f3f3f4;


$navHeight: 65px;
$headerHeight:160px;
$btnSize:48px;

// LAYOUT
$layoutPadding: 40px;
$footerHeight:150px;
$headerHeight:100px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 960px;
$break-wide: 1360px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
