.app-header{
    height: $headerHeight;
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{

        }
        .header-nav{
            display: grid;
            grid-auto-flow: column;
            gap: 8px;
            a.active{
                color: $reactClr;
            }

        }
    }
}