.move-list{
    // margin-block-start: 34px;
    .move-preview{
        max-width: 250px;
        padding: 8px;
        background-color: gray;
        border-radius: 4px;
        margin-block: 16px;
    }
}